:root {
  --color-bg: var(--ctp-mocha-base);
  --color-text: var(--ctp-mocha-text);

  --color-bg-focused: var(--ctp-mocha-surface0);
  --color-text-focused: var(--ctp-mocha-text);

  --color-separator: var(--ctp-mocha-surface0);
  --color-border: var(--ctp-mocha-overlay0);

  --color-text-secondary: var(--ctp-mocha-subtext0);
  --color-text-prompt: var(--ctp-mocha-rosewater);
  --color-text-subtle: var(--ctp-mocha-overlay1);
  --color-text-status: var(--ctp-mocha-blue);

  --color-accent: var(--ctp-mocha-blue);
  --color-success: var(--ctp-mocha-green);
}
