:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;

  --color-bg-base: var(--nord0);
  --color-bg-secondary: var(--nord1);
  --color-bg-focused: var(--nord2);
  --color-text-subtle: var(--nord3);
  --color-text-focused: var(--nord5);
  --color-text-base: var(--nord6);
  --color-text-secondary: var(--nord7);
  --color-text-accent: var(--nord8);
  --color-text-prompt: var(--nord9);
  --color-text-matching: var(--nord14);
  --color-text-status: var(--nord15);
}
