.sk_theme {
  font-family: 'Source Code Pro', 'Monaco', 'SF Mono', 'Lucida Console', monospaced;
  color: #f8f8f2;
  background: #282a36;
}

/* search engine */
.sk_theme #sk_omnibarSearchArea .prompt {
  color: #ffb86c;
  font-size: 1rem;
}

.sk_theme #sk_omnibarSearchArea .separator {
  color: #f1fa8c;
  font-size: 1rem;
}

.sk_theme #sk_omnibarSearchArea input {
  color: #f8f8f2;
  font-size: 1rem;
}

/* result count */
.sk_theme #sk_omnibarSearchArea .resultPage {
  color: #f1fa8c;
  font-size: 0.8rem;
}

.sk_theme #sk_omnibarSearchResult ul li {
  background: #282a36 !important;
}

.sk_theme #sk_omnibarSearchResult ul li.focused {
  background: #44475a !important;
}

.sk_theme #sk_omnibarSearchResult .result {
  display: flex;
  flex-direction: row;
}

.sk_theme #sk_omnibarSearchResult .thumb {
  max-width: 160px;
  height: 90px;
  margin-right: 0.8rem;
}

.sk_theme #sk_omnibarSearchResult .url {
  color: #bd93f9;
  font-weight: normal;
}

/* matching text */
.sk_theme #sk_omnibarSearchResult .omnibar_highlight {
  color: #ff79c6;
}

.sk_theme #sk_omnibarSearchResult .omnibar_folder {
  color: #ffb86c;
}

.sk_theme #sk_omnibarSearchResult .omnibar_timestamp {
  color: #6272a4;
}

.sk_theme #sk_omnibarSearchResult .omnibar_visitcount {
  color: #6272a4;
}

.sk_theme input#sk_find {
  color: #f8f8f2;
  font-size: 1rem;
}

.sk_theme .annotation {
  color: #f8f8f2;
}

#sk_status {
  font-size: 1rem;
}
